body{
    background-color: white;
}
.war{
    width: 600px;
    background: linear-gradient(900deg,blue,green,yellow,red);
    padding: 15px;
    margin: 200px auto;
}
h1{
    display: block;
    color: grey;
    text-align: center;
    font-size: 50px;
}